@page "/"
@using CWBBlazor.Client.Components.RulesDriven;
@inject CWBBlazor.Client.ClientServices.ContactsService contactsService;
<h1>Hello, CWB!</h1>
<br />
<ShowHideSection>
    <h1>Hello from the ShowHideSection</h1>
</ShowHideSection>


